<div class="input-container">

  <button class="btn btn-info btn-block margin-bottom" (click)="generatePDF()">GENERATE PDF</button>
  <button class="btn btn-primary btn-block" (click)="addPage()">ADD PAGE</button>
  <div *ngFor="let page of pages; let i = index; trackBy:customTrackBy" class="page margin-bottom">
    <button class="btn btn-success btn-block margin-bottom" (click)="addText(i)">ADD TEXT</button>
    <div *ngFor="let text of pages[i]; let i1 = index; trackBy:customTrackBy">
      <div class="form-group">
        <input type="text" class="form-control margin-bottom" placeholder="Enter Text" [(ngModel)]="pages[i][i1]" >
        <button class="btn btn-warning btn-block" (click)="deleteText(i, i1)">DELETE TEXT</button>
      </div>
    </div>
    <button class="btn btn-danger btn-block" (click)="deletePage(i)">DELETE PAGE</button>
  </div>
</div>

<router-outlet></router-outlet>
